.nav_bar{
    display:flex;
    
    
    
}
.nav_bar a{
    display: flex;
    justify-content: center;
    margin-top: -8px;
    margin-right: -8px;
    text-decoration: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    
    
    
}
.nav_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    
   
   
    
}
.nav_bar img{
    width: 23vh;
    background-color: #F5005B;
    padding: 17px;
    margin-left: -8px;
    margin-top: -8px;
}
#join_nav{
    background-color: #00D5E7;
    padding: 30px;
    
}
#calendar_nav{
    background-color: #00B7D3;
    padding: 30px;
}
#home_nav{
    background-color: #00A5BF;
    padding: 30px;
}

h1{
    color: #0B1942;
    font-weight: normal;
    font-size: 45px;
    margin-left:25px;
    font-family: 'PT Sans', sans-serif;
}
.calendar{
    background-color: #0B1942;
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 50px;
    margin-left: -9px;
    
}
h2{
    color: white;
    font-weight: normal;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    margin-left: 25px;
    padding-top: 35px;
}
.calendar_boxes div{
    display: flex;
    background-color: white;
    height: 70px;
    border: 1px solid #0B1942;
    flex: 0 1 13.75%;
}
.calendar_boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.calendar_boxes p{
    display: flex;
    background-color: #0B1942;
    color: white;
    padding: 10px;
    margin-top: -2px;
    height: 14px;
}

.calendar_footer a{
    display: flex;
    justify-content: center;
    margin-top: -8px;
    margin-right: -8px;
    text-decoration: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
}
.calendar_footer p{
    display: flex;
    justify-content: center;
    background-color: #51E3EB;
    padding: 30px;
    margin-top: -10px;
    color: white;
    margin-right: -8px;
    margin-bottom: -5px;
    padding: 40px;

}
.calendar_footer{
    margin-left: -9px;
    height: 100%;
}
#box_13{
    background: #F5005B;
}
#box_27{
    background: #F5005B;
}


/*******medium view********/
@media (min-width:545px){
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav_bar a{
        display: flex;
        align-items: center;
        flex: 0 1 10%;
    }
    .nav_bar{
        background: #51E3EB;
        margin-top: -8px;
        margin-right: -8px;
    }
    .nav_bar img{
        width: 18%;
    }
    .calendar_footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    .calendar_footer a{
        display: flex;
        align-items: center;
        margin-bottom: -8px;
        margin-left: -8px;
        flex: 0 1 10%;
    }
    .calendar_footer p{
        display: flex;
        margin-top: -8px;
        margin-bottom: -8px;
        width: 100%;
        justify-content: flex-end;
    }
}



/*******large view********/
@media (min-width:769px){
    .calendar_boxes div{
        flex: 0 1 13.8%;
        height: 135px;
    
    }
    
    
}