*{
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}
.nav_bar{
    display:flex;
    
    
    
}
.nav_bar a{
    display: flex;
    justify-content: center;
    margin-top: -8px;
    margin-right: -8px;
    text-decoration: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    
    
    
}
.nav_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    
   
   
    
}
.nav_bar img{
    width: 23vh;
    background-color: #F5005B;
    padding: 17px;
    margin-left: -8px;
    margin-top: -8px;
}
#join_nav{
    background-color: #00D5E7;
    padding: 30px;
    
}
#calendar_nav{
    background-color: #00B7D3;
    padding: 30px;
}
#home_nav{
    background-color: #00A5BF;
    padding: 30px;
}
h1{
    margin-left: 20px;
}


.pic_profile img{
    border: 1px solid white;
    border-radius: 50%;
    margin-top:55px;
    margin-left: 20px;
    width: 70vh;

}
.input_lable{
    margin-left: 20px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}
.input_lable input{
    margin-top: 8px;
    font-size: 18px;

}
.typing input{
    height: 30px;
    width: 97%;

}
.typing{
    margin-left:20px;
    margin-bottom: 35px;
}
.genres{
    margin-left: 20px;
}
.genres input{
    margin:10px;

}
.genres legend{
    margin-bottom: 10px;
}
.text_box textarea{
    height: 70px;
    width: 95%;
}
.text_box{
    margin-left: 20px;
}
.calendar_footer a{
    display: flex;
    justify-content: center;
    margin-top: -8px;
    margin-right: -8px;
    text-decoration: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
}
.calendar_footer p{
    display: flex;
    justify-content: center;
    background-color: #51E3EB;
    padding: 30px;
    margin-top: -10px;
    color: white;
    margin-right: -8px;
    margin-bottom: -5px;
    padding: 40px;

}
.calendar_footer{
    margin-left: -9px;
    height: 100%;
}
.submit input{
    border: 1px solid red;
    margin-left: 20px;
    padding: 20px;
    color: white;
    background-color: #F5005B;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 55px;
}


/*******medium view********/
@media (min-width:545px){
     .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav_bar a{
        display: flex;
        align-items: center;
        flex: 0 1 10%;
    }
    .nav_bar{
        background: #51E3EB;
        margin-top: -8px;
        margin-right: -8px;
    }
    .nav_bar img{
        width: 18%;
    }
    .calendar_footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    .top_flex{
        display: flex;
    }
    .calendar_footer a{
        display: flex;
        align-items: center;
        margin-bottom: -8px;
        margin-left: -8px;
        flex: 0 1 10%;
    }
    .calendar_footer p{
        display: flex;
        margin-top: -8px;
        margin-bottom: -8px;
        width: 100%;
        justify-content: flex-end;
        
    }
    .flex_info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .pic_profile img{
        width: 60%;
        margin-top: 25px;
    }
    .typing div{
        margin-left: -200px;
    }
    .typing input{
        width: 185%;
    }
    .password{
        margin-top: 65px;
    }
    .text_box{
        display: flex;
        flex-direction: column;
    }
    .genres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .genres div{
        display: flex;
        flex-direction: row;
        width: 50%;
    }
    legend{
        margin-bottom: 25px;
        margin-top: 40px;
        margin-left: 25px;
    }

}






/*******large view********/
@media (min-width:769px){
    .typing input{
        width: 100%;
    }
    .typing{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 70%;

    }
    .typing div{
        margin:15px;
        flex: 0 1 57%;
        
    }
    .typing section{
        margin-top: -240px;
}
.flex_info section{
    width: 32vw;

}
.genres div{
    width: 30%;
}
.text_box textarea{
    width: 45%;
}
.top_flex{
    display: flex;
}
.pic_profile img{
    width: 100%;
}

    
}
